# Eclipse
.classpath
.project
.settings/
 
# Intellij
.idea
*.iml
*.iws
 
# Mac
.DS_Store
 
# Maven
log/
target/
.factorypath
src/main/resources/META-INF/persistence.xml
src/main/resources/META-INF/persistence.xml
persistence.xml
